@model UPC.BusinessEntities.RepVerAlumnoResultadoBE

<style type="text/css">
    .modal-dialog {
        background-color: rgba(255, 255, 255, 0);
        /* height: 1700px;*/
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        /*height: 1700px;*/
        resize: none;
    }

    .modal-dialog {
        right: auto;
        left: 0%;
        width: 50%;
        padding-top: 30px;
        padding-bottom: 5px;
        resize: none;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var estadoResultado = $("#Resultado").val();

        if (estadoResultado == '0') {
            reprobadoCheck();
        }
        if (estadoResultado == '1') {
            aprobadoCheck();
        }
        if (estadoResultado == '-1') {
            noneCheck();
        }

        $("#btnCancelar2").click(function () {
            $("#cerrarAlumno").click();
        });

        $("#cerrarAlumno").click(function () {
        });

        $("#btnCancelar").click(function () {
            $("#cerrarAlumno").click();
        });
    });

    function reprobadoCheck() {
        document.getElementById('desaprobadoCheck').style.display = 'block';
        document.getElementById('desaprobadoUnCheck').style.display = 'none';//oculta
        document.getElementById('aprobadoCheck').style.display = 'none';//oculta
        document.getElementById('aprobadoUnCheck').style.display = 'block';
    }
    function aprobadoCheck() {
        document.getElementById('aprobadoCheck').style.display = 'block';
        document.getElementById('aprobadoUnCheck').style.display = 'none';//oculta
        document.getElementById('desaprobadoUnCheck').style.display = 'block'
        document.getElementById('desaprobadoCheck').style.display = 'none';//oculta
    }
    function noneCheck() {
        document.getElementById('aprobadoUnCheck').style.display = 'block';
        document.getElementById('desaprobadoUnCheck').style.display = 'block';
        document.getElementById('aprobadoCheck').style.display = 'none';//oculta
        document.getElementById('desaprobadoCheck').style.display = 'none';//oculta
    }

</script>

@Html.HiddenFor(model => Model.Resultado)

<div class="modalCrono" id="contenedoPrincipal"></div>
<div class="modal-dialog" style="width: 820px;">
    <div class="modal-content" style="width: 820px;">
        <div class="modal-header header_sel">
            <header>
                <table align="center" width="100%">
                    <tr>

                        <td align="center">
                            <div id="DivnCancelar" style="display:inline-block;">
                                <a id="btnCancelar2" href="#" class="btn btn-secundario"><i class="icono_cancelar"></i>&nbsp;Cancelar</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </header>
            <button type="button" id="cerrarAlumno" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="H"></h4>
        </div>

        @Html.ValidationSummary(true)

    <div class="modal-body">
        <div class="box">
            <header>
                <table>
                    <tr>
                        <td>
                            <h5 style="font-weight:bold">Estado del Alumno </h5>
                        </td>
                        <td align="center">
                            <table align="center">
                                <tr>
                                    <td>
                                        <div id="aprobadoCheck">
                                            <input id="rbtnAprobado" type="radio" name="rbtnAprobado" checked="checked" disabled />
                                        </div>
                                        <div id="aprobadoUnCheck">
                                            <input id="rbtnAprobado" type="radio" name="rbtnAprobado" disabled />
                                        </div>
                                    </td>
                                    <td>
                                        <h5>Aprobado  </h5>
                                    </td>

                                    <td>
                                        <div id="desaprobadoCheck">
                                            <input id="rbtnDesaprobado" type="radio" name="rbtnDesaprobado" checked="checked" disabled />
                                        </div>
                                        <div id="desaprobadoUnCheck">
                                            <input id="rbtnDesaprobado" type="radio" name="rbtnDesaprobado" disabled />
                                        </div>
                                    </td>
                                    <td>
                                        <h5>Desaprobado</h5>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </header>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">DATOS DEL ALUMNO </div>
            <div class="panel-body">
                <div class="row form-group margin-bottom_0 " style="resize:none">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Nro. de DNI</label>
                        @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Sección</label>
                        @Html.EditorFor(model => model.Seccion, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Grado de Instrucción</label>
                        @Html.EditorFor(model => model.GradoDeInstruccion, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row form-group margin-bottom_0" id="contratanteJuridico" style="resize:none">
                    <div class="form-group col-lg-6" style="resize:none">
                        <label for="disabledSelect2">Alumno</label>
                        @Html.EditorFor(model => model.ApellidosNombres, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly", style = "max-width:500px;" } })
                    </div>
                </div>
                <div class="row form-group margin-bottom_0" style="resize:none">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Género</label>
                        @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Distrito de Residencia</label>
                        @Html.EditorFor(model => model.DistritoDeResidencia, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">NOTA DE LOS CURSOS</div>
            <div class="panel-body">
                <div class="row form-group margin-bottom_0">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Personal Social</label>
                        @Html.EditorFor(model => model.Curso.PersonalSocial, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Educación Religiosa</label>
                        @Html.EditorFor(model => model.Curso.EducacionReligiosa, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Educación Física</label>
                        @Html.EditorFor(model => model.Curso.EducacionFisica, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row form-group margin-bottom_0">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Comunicación</label>
                        @Html.EditorFor(model => model.Curso.Comunicacion, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Arte y Cultura</label>
                        @Html.EditorFor(model => model.Curso.ArteYCultura, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Inglés</label>
                        @Html.EditorFor(model => model.Curso.Ingles, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row form-group margin-bottom_0">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Matemática</label>
                        @Html.EditorFor(model => model.Curso.Matematica, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Ciencia y Tecnología</label>
                        @Html.EditorFor(model => model.Curso.CienciaYTecnologia, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">APTITUDES / HÁBITOS</div>
            <div class="panel-body">
                <div class="row form-group margin-bottom_0">
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Horas dedicadas de estudio</label>
                        @Html.EditorFor(model => model.HorasDedicacion, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Horas de dormir</label>
                        @Html.EditorFor(model => model.HorasDormir, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-4" style="resize:none">
                        <label for="disabledSelect2">Inasistencias</label>
                        @Html.EditorFor(model => model.Inasistencias, new { htmlAttributes = new { @class = "form-control dform-control", @readonly = "readonly" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <header>
                <table align="center" width="100%">
                    <tr>

                        <td align="center">
                            <div id="DivnCancelar2" style="display:inline-block">
                                <a id="btnCancelar" href="#" class="btn btn-secundario"><i class="icono_cancelar"></i>&nbsp;Cancelar</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <br />
            </header>
        </div>
    </div>
    </div>
</div>

<style type="text/css">

    .icono_cancelar {
        width: 15px;
        height: 14px;
        background: url(../Images/iconos/color/icono_cancelar_color.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        /* margin-top: 0px; */
        vertical-align: top;
        margin-top: 2px;
    }

</style>
